name: Deploy a website to aws

on:
  #Runs on pushes targeting the default branch
  push:
    branches: ["main"]

jobs:
  #Single deploy job since we're just deploying
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Deploy to EC2 via SSh
        uses: appleboy/ssh-action@v1.2.3
        with: 
          host: $({ secrets.EC2_HOST  })
          username: $({  secrets.EC2_USERNAME  })
          key: $({  secrets.EC2_SSH_KEY })
          scripts: |
            #navigate to the project directory on EC2
            cd /var/www/dave

            #pull the latest code from GitHub
            git pull origin main
